<!DOCTYPE html5>
<html>
<head>
    <title>About</title>
    <link rel="icon" href="/images/weather-icon.png">
    <link rel="stylesheet" href="./css/style.css">
</head>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This site is created by Peeyush</p>
        <img class="portrait" src="/images/wp4176077.jpg">
    </div>
        
    {{>footer}}
</body>
</html>